.timeline-item {
  position: absolute;
  background: #FFFFFF;
  padding: 8px 12px;
  box-sizing: border-box;
  height: 34px;
  border-radius: 4px;
  box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 0px 1px inset, rgba(15, 15, 15, 0.1) 0px 1px 2px;
  overflow: hidden;
  text-overflow: ellipsis;

  & > span {
    position: sticky;
    left: 0;
  }
}
